:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --default-font-family: "Poppins", "sans-serif";
}

body {
  font-family: var(--default-font-family);
  margin: 80px auto;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 60px;
}

.introduction h2 {
  margin-top: 45px;
  font-size: 30px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.introduction {
  background: var(--secondary-color);
}

.introduction img {
  width: 30%;
  padding: 30px;
}

.navigation-links {
  display: flex;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  width: 150px;
  text-align: center;
}

.projects-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

footer .contact-box {
  background-color: antiquewhite;
  padding: 30px 60px;
  border: 4px;
}

.index-btn {
  background: var(--primary-color);
  color: white;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 18px;
  border-radius: 4px;
  margin-top: 10px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}
