:root {
  --primary-color: #f4eeff;
  --secondary-color: #e1f2fb;
  --branding-color: #878ecd;
  --font-color: #39375b;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --default-font-family: 'Poppins', 'sans-serif';
}

body {
  font-family: var(--default-font-family);
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: #39375b;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

h4 {
  font-size: 48px;
}

p {
  line-height: 30px;
  font-size: 16px;
  line-height: 1.7;
}

nav ul {
  padding: 40px;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 30px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--branding-color);
  transition: all 150ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--font-color);
}

.logo {
  max-width: 150px;
}

.homepage-hero {
  background: var(--primary-color);
  padding: 50px;
}

.introduction {
  background: var(--primary-color);
}

.introduction img {
  width: 20%;
  padding: 30px;
}

.content-container {
  padding: 50px 60px;
}

.content h1 {
  font-size: 55px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
}

.content p {
  font-size: 14px;
}

.content-container img {
  max-width: 80%;
  margin: 100px auto;
  margin-left: 40px;
}

.content {
  margin: 30px;
}

.navigation-links {
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  display: flex;
}

.navigation-links .btn-branding {
  margin: 30px;
}

.btn-branding {
  line-height: 27px;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  color: white;
  background: var(--branding-color);
  box-shadow: var(--box-shadow);
}

.work-introduction {
  margin: 50px auto;
  color: var(--font-color);
}

.work-introduction p {
  font-size: 30px;
}

.project-description {
  padding: 0 40px;
}

.featured-projects img {
  padding: 30px 0;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 65px 85px;
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--primary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: var(--font-color);
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links {
  margin: 40px auto;
  font-size: 18px;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--font-color);
  background: var(--primary-color);
  border-radius: 50%;
  padding: 10px 14px;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }

  h4 {
    font-size: 26px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  footer .contact-box {
    padding: 30px;
  }
}
