:root {
  --primary-color: #f4eeff;
  --secondary-color: #e1f2fb;
  --branding-color: #878ecd;
  --font-color: #39375b;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --default-font-family: "Poppins", "sans-serif";
}

body {
  font-family: var(--default-font-family);
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: #39375b;
}

h1 {
  font-size: 60px;
}

h2 {
  margin-top: 45px;
  font-size: 30px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

h4 {
  font-size: 48px;
}

p {
  line-height: 30px;
  font-size: 16px;
  line-height: 1.7;
}

.homepage-hero {
  background: var(--primary-color);
  padding: 30px;
  padding-top: 140px;
}

.introduction {
  background: var(--primary-color);
}

.introduction img {
  width: 20%;
  padding: 30px;
}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}

.about-section {
  padding: 150px 60px;
}

.about-section h2 {
  font-size: 18px;
}

.about-section img {
  max-width: 100%;
  margin: 50px auto;
}

.about-section-content {
  margin: 30px;
}

.navigation-links {
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  display: flex;
}

.navigation-links .btn-branding {
  margin: 30px;
}

.btn-branding {
  line-height: 27px;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  color: white;
  background: var(--branding-color);
  box-shadow: var(--box-shadow);
}

.work-introduction {
  margin: 30px auto;
  color: var(--font-color);
}

.work-introduction p {
  font-size: 30px;
}

.btn-branding-outline {
  color: var(--font-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 0 40px;
}

.featured-projects img {
  padding: 30px 0;
}

footer .contact-box {
  background-color: var(--primary-color);
  padding: 30px 60px;
  border-radius: 4px;
}

footer p {
  font-size: 14px;
}

.index-btn {
  background: var(--branding-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-size: 15px;
  line-height: 20px;
  padding: 15px 20px;
  border-radius: 4px;
  margin-top: 24px;
}

footer .email-link {
  text-decoration: none;
  color: var(--font-color);
  font-size: 24px;
  text-align: center;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--font-color);
  background-color: var(--primary-color);
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 120ms ease-in-out;
}

@media (max-width: 995px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
}
