:root {
  --primary-color: #f4eeff;
  --branding-color: #878ecd;
  --font-color: #39375b;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --default-font-family: 'Poppins', 'sans-serif';
}

body {
  font-family: var(--default-font-family);
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  color: var(--font-color);
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

h4 {
  font-size: 28px;
}

p {
  line-height: 30px;
  font-size: 16px;
  line-height: 1.7;
}

nav ul {
  padding: 40px;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 30px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--branding-color);
  transition: all 150ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--font-color);
}

.logo {
  max-width: 100px;
  margin: 20px;
}

.homepage-hero {
  background: var(--primary-color);
  padding: 50px;
}

.introduction {
  background: var(--primary-color);
}

.introduction img {
  max-width: 20%;
  height: auto;
  padding: 30px;
}

.content-container {
  padding: 50px 60px;
}

.content h1 {
  font-size: 40px;
  line-height: 80px;
}

.content h2 {
  font-size: 24px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
}

.content p {
  font-size: 16px;
}

.content-container img {
  max-width: 80%;
  margin: 100px auto;
  margin-left: 40px;
}

.content {
  margin: 30px;
}

.navigation-links {
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  display: flex;
}

.navigation-links .btn-branding {
  margin: 30px;
}

.btn-branding {
  line-height: 27px;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  color: white;
  background: var(--branding-color);
  box-shadow: var(--box-shadow);
}

.work-introduction {
  margin: 50px auto;
  color: var(--font-color);
}

.work-introduction p {
  font-size: 30px;
}

.project-description {
  padding: 0 40px;
}

.featured-projects img {
  padding: 30px 0;
}

.project-section {
  background-color: var(--primary-color);
  padding: 20px 40px;
  margin: 20px;
  border-radius: 20px;
}

.project-section img {
  margin-top: 40px;
  margin-left: 60spx;
}

.contact-link a {
  text-decoration: none;
  color: var(--branding-color);
  font-size: 18px;
}

.contact-link a:hover {
  color: var(--font-color);
}

.social-links {
  margin: 40px auto;
  font-size: 18px;
}

.social-links a {
  margin: 0 20px;
  color: var(--font-color);
  background: var(--primary-color);
  border-radius: 50%;
  padding: 10px 14px;
  transition: all 150ms ease-in-out;
}

.social-links a:hover {
  color: white;
  background: var(--branding-color);
}

footer {
  display: flex;
  flex-direction: column;
  padding: 65px 85px;
  margin: 40px 0;
}

footer .contact-box {
  background-color: var(--primary-color);
  padding: 30px 100px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: var(--font-color);
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links {
  margin: 40px auto;
  font-size: 18px;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--font-color);
  background: var(--primary-color);
  border-radius: 50%;
  padding: 10px 14px;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 992px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 26px;
  }

  .navbar ul a {
    text-align: center;
  }

  .content-container {
    padding-top: 0;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .content-container img {
    max-width: 60%;
    margin-left: 120px;
    margin-bottom: 30px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .project-section img {
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 20px;
  }

  footer {
    margin: 0;
  }

  footer .contact-box {
    padding: 30px 50px;
    text-align: center;
    display: block;
  }

  footer h2 {
    font-size: 28px;
  }

  footer .btn-branding {
    padding: 10px 20px;
  }
}

@media (max-width: 576px) {
  .content-container {
    padding: 0;
  }

  .content {
    text-align: center;
    margin-top: 0;
  }

  .content h1 {
    font-size: 36px;
  }

  .project-section {
    margin: 0;
  }

  .project-description {
    line-height: 1.6;
    text-align: center;
  }

  .project-description h2 {
    font-size: 30px;
  }

  .project-description p {
    font-size: 14px;
  }

  footer {
    margin: 0;
    padding: 40px;
  }

  footer .contact-box {
    text-align: center;
    display: block;
  }

  footer .contact-box h2 {
    font-size: 20px;
    line-height: 1.6;
  }

  footer .contact-box p {
    font-size: 14px;
    line-height: 1.6;
  }

  footer .social-links {
    margin: 40px 20px;
  }
}
